<div class="card form">
  <form
    action=""
    [formGroup]="derivativeForm"
    class="card-body mx-auto"
    (ngSubmit)="derivative()"
  >
    <h2>
      dy/dx x<sup> n</sup> = n
      <span class="span">x</span>
      x <sup>(n-1) </sup>
    </h2>
    <div class="mb-3">
      <label for="name">enter the x value</label>
      <input name="num1" formControlName="num1" required />
    </div>
    <div class="mb-3">
      <label for="name">enter the n value</label>
      <input name="email" formControlName="num2" required />
    </div>
    <input type="submit" value="submit" />
  </form>

  {{ answer }}
  <!-- {{printSinWave}} -->
  <img src="../assets/derivatives.jpg" class="img" />
</div>
